::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #807c7c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #791679;
}


.navbars .active {
    background: #791679;
    border-radius: 10px;
    color: white;
    padding-left: 20px;
}
